# Google GenAI API Key
# Get your API key from: https://aistudio.google.com/apikey
# Copy this file to .env and add your actual API key
VITE_GEMINI_API_KEY=AIzaSyD1BbvNHAqxP_B0045YFALFcv98LSvFtvU
VITE_GROQ_API_KEY=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
OAUTH_CLIENT_ID=528479351223-t5i515j80h3ruroioj3noma57q8fmeig.apps.googleusercontent.com

